<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>ToDoリスト</h1>
        <input type="text" v-model="newTodo" @keyup.enter="addTodo">
        <ul>
            <li v-for="(todo, index) in todos" :key="index">
                <input type="checkbox" v-model="todo.done">
                <span v-if="!todo.edit">{{ todo.title }}</span>
                <input type="text" v-model="todo.title" v-if="todo.edit">
                <button @click="editTodo(todo)">編集</button>
                <button @click="deleteTodo">削除</button>
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                newTodo: '',
                todos: []
            },
            methods: {
                addTodo: function() {
                    if (this.newTodo == '') {
                        return;
                    }
                    this.todos.push({
                        title: this.newTodo,
                        done: false,
                        edit: false
                    });
                    this.newTodo = '';
                },
                editTodo: function(todo) {
                    todo.edit = !todo.edit;
                },
                deleteTodo: function() {
                    this.todos = this.todos.filter(function(todo) {
                        return !todo.done;
                    });
                }
            }
        });
    </script>
</body>
</html>