{% extends 'base.html' %}
{% block content %}
<div id="app">
  <!-- margin 10px -->
  <div class="m-10">
    <div class="row">
      <!-- drag 1 -->
      <div class="col-6">
        <div class="card">
          <div class="card-header">ドラッグ元</div>
          <div class="card-body">
            <div
              class="card"
              draggable="true"
              ondragstart="dragHandler(event)"
            >
              <div class="card-body">ドラッグ元のテキスト</div>
            </div>
          </div>
        </div>
      </div>

      <!-- drop to 1 -->
      <div class="col-6">
        <div class="card">
          <div class="card-header">ドロップ先</div>
          <div class="card-body">
            <div
              class="card"
              ondrop="dropHandler(event)"
              ondragover="event.preventDefault()"
            >
              <div class="card-body">ドロップ先のテキスト</div>
            </div>
          </div>
        </div>
      </div>

      <!-- drop to 2 -->
      <div class="col-6">
        <div class="card">
          <div class="card-header">ドロップ先</div>
          <div class="card-body">
            <div
              class="card"
              ondrop="dropHandler(event)"
              ondragover="event.preventDefault()"
            >
              <div class="card-body">ドロップ先のテキスト</div>
            </div>
          </div>
        </div>
    </div>
</div>
<script type="text/javascript">
  // ドラッグ時のハンドラ
  function dragHandler(event) {
    // ドラッグ元のテキストをDataTransferオブジェクトに保持
    {% comment %} var orgText = event.target.innerHTML; {% endcomment %}
    var orgText = event.target.innerText;
    // innerText
    console.log(event)
    console.log("dragHandler: " + orgText);
    const json = {
      id: 1,
      name: orgText,
    };
    event.dataTransfer.setData("text/plain", JSON.stringify(json));
  }

  // ドロップ時のハンドラ
  function dropHandler(event) {
    // デフォルト処理のキャンセル
    event.preventDefault();

    // DataTransferオブジェクトからテキストを取得してドラッグ先のテキストに代入
    // var orgText = event.dataTransfer.getData("text");
    // event.target.innerHTML = orgText;

    // 元のinnerHTMLを削除
    event.target.innerText = "";
    {% comment %} event.target.innerHTML = ""; {% endcomment %}
    
    // jsonを取得
    var orgText = event.dataTransfer.getData("text/plain");
    const json = JSON.parse(orgText);
    console.log(json)
    event.target.innerText = json.name;
    {% comment %} event.target.innerHTML = json.name; {% endcomment %}
  }
</script>
{% endblock %}
