{% extends 'base.html' %}
{% load static %}
{% block content %}
    <form method="post" action="">
        {% csrf_token %}
        <div class="w100vw">
            <input type="text" name="word" class="async-form" />
        </div>
        <input type="submit"
               name="exe_button"
               value="実行"
               class="btn btn-primary w100vw"/>
    </form>
    {% comment %} table of context {% endcomment %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>result</th>
                <th>task_id</th>
                <th>status</th>
                <th>date_done</th>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
                <tr>
                    <td>{{ result.result }}</td>
                    <td>{{ result.task_id }}</td>
                    <td>{{ result.status }}</td>
                    <td>{{ result.date_start }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>result</th>
                <th>task_id</th>
                <th>status</th>
                <th>date_done</th>
            </tr>
        </thead>
        <tbody>
            {% for task_result in task_results %}
                <tr>
                    <td>{{ task_result.0 }}</td>
                    <td>{{ task_result.1 }}</td>
                    <td>{{ task_result.2 }}</td>
                    <td>{{ task_result.3 }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
