<html lang="ja">
    <head>
      <title>{% block title %}top{% endblock %}</title>
      {% comment %} use bootstrap4 {% endcomment %}
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>        
    <body>
        {% comment %} link to /asyncapp {% endcomment %}
        <a href="/asyncapp">asyncapp</a>
    </body>
</html>