{% load static %}
<html lang="ja">
    <head>
      <title>{% block title %}top{% endblock %}</title>
      {% comment %} use bootstrap4 {% endcomment %}
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <!-- use vuejs -->
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.0/dist/js.cookie.min.js"></script>
    </head>
    <body>
      {% comment %} menu {% endcomment %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            {% comment %} link to /asyncapp {% endcomment %}
            <a href="/asyncapp" class="mr-3">asyncapp</a>
            {% comment %} link to /dragdrop {% endcomment %}
            <a href="/dragdrop" class="mr-3">dragdrop</a>
            {% comment %} link to /dragdrop2 {% endcomment %}
            <a href="/dragdrop2" class="mr-3">dragdrop2</a>
            {% comment %} link to /todo {% endcomment %}
            <a href="/todo">todo</a>
        </nav>
        {% comment %} content {% endcomment %}
        {% block content %}{% endblock %}
    </body>
</html>